<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
    placeholder="Buscar por capital"
    (onValue)="searchByCapital($event)"
    ></shared-search-box>

    <!--
    * (OnValue) es un evento personalizado del componente "shared-search-box"
    * El evento se emite cuando el usuario presiona enter
    * searchByCapital es una función definido en el componente by-capital-page
    * $event es un objeto especial que representa los datos emitidos por el evento
    * Cuando el evento ocurre, el componente "shared-search-box" emite un valor ($event)
    * Y ese valor pasa como argumento a la función "searcByCapital"
    -->

  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner placeholder="Buscando por capital..." *ngIf="isLoading" ></shared-loading-spinner>
    <countries-table [countries]="countries" ></countries-table>
  </div>
</div>
